// Akurat mono
@font-face {
  font-family: 'akkurat-mono';
  src: url('@/fonts/akkurat-mono.woff');
}

// Akkurat
@font-face {
  font-family: 'akkurat';
  src: url('@/fonts/akkurat.woff');
}

// Romana BT
@font-face {
  font-family: 'romanabt';
  src: url('@/fonts/romanabt.woff');
}
