$h1-fs: 300px;
$h1-ls: auto;

$h2-fs: 140px;
$h2-ls: 100px;

$h3-fs: 95px;
$h3-ls: 100px;

$h4-fs: 95px;
$h4-ls: 100px;

$h5-fs: 95px;
$h5-ls: 100px;

$h6-fs: 58px;
$h6-ls: 124px;

$h7-fs: 40px;
$h7-ls: auto;

$h8-fs: 30px;
$h8-ls: 124px;

$h9-fs: 30px;
$h9-ls: auto;

$h10-fs: 25px;
$h10-ls: auto;

$p-fs: 20px;
$p-ls: 124px;

$span-1-fs: 16px;
$span-1-ls: 100px;

$span-2-fs: 16px;
$span-2-ls: 100px;

$span-3-fs: 16px;
$span-3-ls: 100px;

$span-4-fs: 16px;
$span-4-ls: auto;

$black: #1d1d1d;
$white: #fbfbfb;
